.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginForm input[type='submit'].btn-block {
    width: 50%;
    margin: 10px auto;
}
.loginForm .form-control {
    width: 300px;
    margin: auto;
}
form > * {
    margin: 0 35px;
}
