.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
}

.loginForm input[type='submit'].btn-block {
    width: 50%;
    margin: 10px auto;
}
.form {
    height: 250px;
    margin: auto;
    margin-top: 15%;
    width: 300px;
}
form > * {
    margin: 0 35px;
}
.light {
    font-weight: 100;
}
