.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background: #c4c4c4;
    border-radius: 10px;
    margin: 60px;
    padding: 60px;
    color: red;
}

form input {
    margin: 10px;
    padding: 10px;
}

form {
    width: 40%;
}

input.button {
    color: red;
    display: block;
    background: #826b6b;
    border-radius: 10px;
    border: 1px #fff solid;
    width: 50%;
}
