.signup-page {
    background: #c4c4c4;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background: #c4c4c4;
    border-radius: 10px;
    margin: 0px;
    padding: 60px;
    color: red;
    max-width: 500px;
}

form input {
    margin: 20px;
    padding: 20px;
}

form {
    width: 90%;
}

input.button {
    color: red;
    display: block;
    background: #826b6b;
    border-radius: 10px;
    border: 1px #3b3333 solid;
    width: 50%;
}

h3 {
    text-align: center;
}

@media only screen and (min-width: 768px) {
    form {
        width: 50%;
    }
}
